@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Rubik:wght@300&display=swap');


@font-face {
    font-family: android;
    src: url(fontes/idroid.otf);
}
    
body {
    background-color: #36b66f;
    font-family: 'Kaushan Script', cursive;
font-family: 'Rubik', sans-serif;
text-align: justify;
text-indent: 30px;
line-height: 2em;
}

:root {
    --cor1:#adc9b9;
    --cor2:#519972;
    --cor3:#29995b;
    --cor4:#355C47;
    --cor5:#172920;


}
* {
   margin:0px; 
   padding:0px;
}


header {
    background: rgb(23,41,32);
    background: linear-gradient(357deg, rgba(23,41,32,1) 31%, rgba(67,101,63,1) 84%);
    margin-top: 0px;
    
    
}

header h1 {
    font-size:3em;
    color: white;
    text-align: center;

    height: auto;
    margin-top: 0px;
    padding-top: 40px;
}

header p {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1em;
}

nav {
    background-color:var(--cor5);
}

nav a {
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    transition-duration:0.1s;
    border-radius: 5px;
}

nav a:hover {
    background-color:#355C47;
    color: #e9971c;
}

main {
    background-color: white;
    padding:20px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.226);

    min-width: 300px;
    max-width: 800px;
    margin: auto;
}

main h1 {
    font-size:2em;
    font-family: android;
    color: #0d3a21;
}

main h2 {
    font-size:1.3em;
    font-family: android;
    color: #0d3a21;
    background: rgb(83,142,112);
background: linear-gradient(90deg, rgba(83,142,112,1) 0%, rgba(255,255,255,1) 84%);
}

main p {
    padding: 10px 0px 30px 0px;
}

main picture {
    width: 100%;
}

#bugdroid {
    margin:auto;
    padding-left: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video iframe {
	position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: #a0ddbd;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    box-shadow: -1px 1px 20px gray;

}

aside> h4 {
    background-color: #118d4f;
    color: white;
    border-radius: 15px 15px 0px 0px;
    margin: -10px -10px -10px -10px;
}

aside> ul {
    list-style-position:inside;
    columns: 2;
    margin-left: 50px;
}

footer {
    background-color: #0d3a21;
    color: white;
    text-align: center;
    margin-top: 15px;
}




